<div class="col-md-4 col-sm-8 col-xs-12">
    <div class="paper paper__light">
        <%= form_with scope: :domain, url: domain_transfer_path,
                                      class: 'form' do |form| %>
            <div class="form--row">
                <div class="form--header">
                    <h4><%= t('steps_controllers.bulk_change.registrar_replace_confirm', count: @size) %></h4>
                </div>
            </div>
            <%= form.hidden_field :batch_file, value: @attrs[:batch_file_encoded] %>
            <div class="form--actions">
                  <%= form.submit t('steps_controllers.bulk_change.confirm'), class: 'button button--primary' %>
            </div>
        <% end %>
    </div>
</div>