<div class="dialog" id="api_user_delete">
    <div class="wrapper wrapper__small">
        <div class="paper paper--text__left">
            <div class="paper--header">
                <%= button_tag(class: 'button--close', type: '') do %>
                    <i class="fas fa-times"></i>
                <% end %>
                <h2 id="title"><%= t('api_users.show.delete_warning_html', name: @api_user[:name]) %></h2>
            </div>
            <div class="paper--content">
                <%= form_with scope: :api_user, url: api_user_path(@api_user), method: :delete,
                                              data: { turbo: true }  do |form| %>
                    <div class="form--actions">
                        <%= form.submit t(:delete), class: 'button button--danger' %>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>