.page {
    padding-bottom: 20px;
    &--hero {
        position: relative;
        background: $orange url("hero-orange.jpg") no-repeat calc(((100% + 720px) - 1340px) / 2 + 110px) -86px / 720px auto;
        margin-top: -40px;
        padding: 20px 0 40px;
        text-align: center;
        color: $true-white;
        .column {
            text-align: center;
            p {
                margin-top: 10px;
            }
        }
        &__overview {
            background: $blue;
            box-shadow: 0 0 40px 0 rgba($true-black, 0.20);
            text-align: center;
            margin: 0 20px 20px;
            padding: 20px 0;
            position: relative;
            z-index: 20;
            p {
                display: block;
                font-weight: 500;
                font-size: 18px;
                line-height: 25px;
                color: $grey7;

                strong {
                    color: $true-white;
                }
            }
        }
        &__text {
            font-weight: 500;
            margin-top: 20px;
            font-size: 18px;
            p {
                line-height: 30px;
            }
            a {
                color: $true-white;
                text-decoration: underline;
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
    &--header {
        padding: 40px 0;
        margin: -20px 0;
        @include gradient-gray(right);
        h2 {
            span {
                font-weight: 300;
                color: $grey;
            }
        }
        &--text {
            font-size: 14px;
            line-height: 20px;
            text-align: center;
            h2 {
                font-size: 20px;
                line-height: 20px;
            }
        }
        &--actions {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            margin: 1.429em -10px 0;
            &:only-child {
                margin-top: -1.429em;
            }
        }
    }
    &--content {
        padding: 20px 0;
        &:last-child {
            padding-bottom: 0;
        }
    }
    &--block {
        background: #fff;
        padding: 20px;
        &__dark,
        &:nth-child(odd) {
            @include gradient-gray(right);
        }
        &--header {
            font-size: 14px;
            line-height: 20px;
            text-align: left;
            margin-bottom: 20px;
            h2 {
                font-size: 24px;
                line-height: 25px;
                .icon {
                    color: $grey;
                    font-size: 16px;
                    line-height: 1;
                    vertical-align: middle;
                    margin: 0 0 0 10px;
                }
            }
        }
        h1 {
            font-weight: 500;
            margin: 2.857rem 0;
        }
        p {
            margin-top: 10px;
            font-size: 16px;
            line-height: 25px;
            &:first-child {
                margin-top: 0;
            }
        }
    }
    &--actions {
        background: #fff;
        padding: 20px 0;
        &__left,
        &__right {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
        }
        &__right {
            margin-left: auto;
        }
        .wrapper {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            margin-bottom: -20px;
        }
        a,
        button {
            margin-right: 20px;
            margin-bottom: 20px;
            &:last-child {
                margin-right: 0;
            }
        }
    }
    &--message {
        margin-bottom: -40px;
        padding: 40px 0 80px;
        text-align: center;
        color: #fff;
        font-size: 18px;
        line-height: 30px;
        background: $black;
        &__error {
            background: $base-orange;
        }
        &__success {
            background: $green;
        }
        h2 {
            margin-bottom: 20px;
        }
    }
    @include max-screen(767px) {
        &--header {
            &--actions {
                .button {
                    margin: 1.429rem 5px 0 5px;
                }
            }
        }
    }
    @include min-screen(768px) {
        padding-bottom: 40px;
        &--hero {
            &__overview {
                padding: 25px 0;
                margin: 0 90px 40px 90px;
                p {
                    font-size: 24px;
                    line-height: 30px;
                }
            }
        }
        &--header {
            padding: 60px 0;
            &--text {
                font-size: 1.286em;
                line-height: 2.143em;
                h2 {
                    font-size: 2.14285714rem;
                    line-height: 30px;
                }
            }
            &--actions {
                .button {
                    margin: 1.429rem 10px 0 10px;
                }
            }
        }
        &--content {
            padding: 20px 0;
        }
        &--block {
            padding: 40px;
            &:last-child {
                padding-bottom: 80px;
                margin-bottom: -80px;
            }
            &--header {
                margin-bottom: 40px;
                font-size: 1.286em;
                line-height: 2.143em;
                &:last-child {
                    margin-bottom: 0;
                }
                h2 {
                    font-size: 30px;
                    line-height: 30px;
                    .icon {
                        font-size: 18px;
                    }
                }
                &.center {
                    text-align: center;
                }
            }
        }
        &--actions {
            padding: 40px 0 80px 0;
            margin-bottom: -40px;
        }
    }
    @include min-screen(992px) {
        padding-bottom: 80px;
        &--hero {
            padding-bottom: 80px;
            &__overview {
                margin-left: 60px;
                margin-right: 60px;
            }
        }
    }
    @include min-screen(1224px) {
        padding-bottom: 120px;
        &--header {
            margin: -40px 0;
            padding: 80px 30px;
        }
        &--content {
            padding: 40px 0;
        }
        &--block {
            padding: 80px 50px;
            &:last-child {
                padding-bottom: 160px;
                margin-bottom: -160px;
            }
        }
    }
}

.paginator {
    margin-top: 20px;
    position: relative;
    z-index: 20;
    .ui.pagination {
        margin-top: 20px;
        flex-wrap: wrap;
        .item {
            &:first-child,
            &:last-child {
                display: inline-flex;
                align-items: center;
                &:hover {
                    color: $blue;
                    background: transparent;
                }
                span {
                    text-decoration: underline;
                }
                i.icon {
                    margin-right: 20px;
                }
            }
            &:last-child {
                i.icon {
                    margin: 0 0 0 20px;
                }
            }
        }
    }
    .form {
        margin: 20px 0 0 auto;
    }
    @include max-screen(767px) {
        padding: 0 20px;
        .ui.pagination {
            margin: 0 -2px;
            width: 100%;
            a {
                order: 1;
                &[type="pageItem"],
                &[type="ellipsisItem"] {
                    padding: 5px;
                    min-width: 30px;
                    max-width: 50px;
                    height: 40px;
                    flex: 1 1 auto;
                    text-align: center;
                    margin: 0 2px;
                    justify-content: center;
                    &.active {
                        padding-top: 5px;
                    }
                }
                &[type='prevItem']:first-child {
                    order: 0;
                    flex: 1 1 50%;
                    margin: 0 0 20px;
                    i.icon {
                        margin: 0 10px 0 0;
                    }
                }
                &[type='nextItem']:last-child {
                    order: 0;
                    flex: 1 1 calc(50% - 20px);
                    margin: 0 0 20px auto;
                    justify-content: flex-end;
                    i.icon {
                        margin: 0 0 0 10px;
                    }
                }
            }
        }
    }
    @include min-screen(768px) {
        margin-top: 20px;
        padding: 0 20px;
        .container {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
        }
        .ui.pagination {
            flex-wrap: nowrap;
        }
    }
    @include min-screen(1224px) {
        padding: 0 50px;
    }
}
