.menu--portal {
    a {
        display: block;
        padding: 15px 20px;
        font-size: 14px;
        font-weight: 500;
        color: $black;
        transition: all .3s ease-in-out;
        &.active {
            color: #fff;
            font-weight: 900;
        }
        &.active:first-child {
            background: $blue;
        }
        &.active:nth-child(2) {
            background: $green;
        }
        &.active:nth-child(3) {
            background: $orange;
        }
        &.active:nth-child(4) {
            background: $green;
        }
        &:hover {
            color: #fff;
            text-decoration: underline;
            &:first-child {
                background: $blue;
            }
            &:nth-child(2) {
                background: $green;
            }
            &:nth-child(3) {
                background: $orange;
            }
            &:nth-child(4) {
                background: $green;
            }
        }
    }
    @include min-screen(1224px) {
        display: flex;
        align-items: stretch;
        a {
            padding: 20px;
        }
    }
    @include max-screen(1223px) {
        display: none;
        .menu--mobile & {
            display: block;
        }
    }
    @include min-screen(1440px) {
        a {
            font-size: 16px;
            line-height: 25px;
            padding: 20px;
        }
    }
}
