.menu--social {
    padding: 20px;
    h3 {
        margin-bottom: 20px;
        color: #fff;
        font-size: 16px;
        font-weight: 900;
    }
    ul {
        display: flex;
        align-items: center;
        list-style: none;
        padding: 0;
        li {
            margin-right: 20px;
            &:last-child {
                margin-right: 0;
            }
            a:not(.btn) {
                display: block;
                width: 40px;
                height: 40px;
                font-size: 28px;
                line-height: 40px;
                text-align: center;
                color: #fff;
                transition: all .3s ease-in-out;
                &:hover {
                    transform: scale(1.1);
                }
            }
            .btn {
                display: flex;
                justify-content: center;
                height: 20px;
                color: #fff;
                i {
                    margin: auto;
                }
                span {
                    display: none;
                }
            }
        }
    }
    @include min-screen(768px) {
        padding: 40px 20px 0 10px;
    }
    .layout--header & {
        position: absolute;
        top: 20px;
        right: 40px;
        padding: 0;
        ul {
            li {
                margin-right: 10px;
                a:not(.btn) {
                    width: 30px;
                    height: 30px;
                    line-height: 30px;
                    font-size: 20px;
                    color: $white;
                }
            }
        }
        @include max-screen(991px) {
            display: none;
        }
    }
    .menu--mobile & {
        padding: 15px;
        margin-top: 5px;
        border-top: 1px solid #EAEBED;
        ul {
            li {
                margin-right: 10px;
                a:not(.btn) {
                    width: 30px;
                    height: 30px;
                    line-height: 30px;
                    font-size: 20px;
                    color: $black;
                }
            }
        }
    }
}
