.menu--user {
    display: flex;
    align-items: stretch;
    border-bottom: 1px solid #EAEBED;
    a {
        display: flex;
        align-items: center;
        font-size: 14px;
        padding: 15px 20px;
        font-weight: 500;
        color: $black;
        &:hover {
            color: $blue;
        }
        i {
            flex: 0 0 20px;
            width: 20px;
            margin-right: 10px;
            text-align: center;
        }
    }
    @include min-screen(1224px) {
        padding: 15px 30px;
        border-bottom: 0;
        a {
            padding: 5px 10px;
        }
    }
    @include max-screen(1223px) {
        display: none;
        .menu--mobile & {
            display: block;
        }
    }
    @include min-screen(1440px) {
        a {
            font-size: 16px;
            line-height: 25px;
        }
    }
}
