<div class="form--header">
    <h3>ID</h3>
</div>
<div class="row">
    <div class="col-md-12 col-xs-12">
        <div class="form--row">
            <%= form.label :code, 'ID', class: 'form--label' %>
            <div class="form--field">
                <div class="form--input">
                    <%= form.text_field :code, class: 'input' %>
                </div>
            </div>
        </div>
    </div>
</div>