.button {
    margin: 0;
    border-style: none;
    cursor: pointer;
    background: none;
    display: inline-block;
    vertical-align: top;
    padding: 15px 20px;
    font-size: 16px;
    font-weight: 900;
    line-height: 20px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    box-shadow: inset 0 -4px 0 rgba(0, 0, 0, .2), 0 0 20px rgba(0, 0, 0, .2);
    border-radius: 5px;
    transition: all .3s ease-in-out;
    &:focus {
        outline: none;
    }
    &::-moz-focus-inner {
        padding: 0;
        border-style: none;
    }
    &:hover {
        color: #fff;
        transform: scale(1.025);
    }
    &.small {
        padding: 10px 15px;
        font-size: 14px;
        border-radius: 3px;
        box-shadow: inset 0 -3px 0 rgba(0, 0, 0, .2), 0 0 10px rgba(0, 0, 0, .2);
    }
    &--default {
        background: $white;
        color: $black;
    }
    &--primary {
        background: $base-blue;
    }
    &--secondary {
        background: $green;
    }
    &--danger {
      background: $red;
    }
    &--error {
        background: $base-orange;
    }
    &--close {
        outline: 0;
        border: 0;
        width: 40px;
        height: 40px;
        font-size: 28px;
        line-height: 40px;
        color: $grey;
        cursor: pointer;
        transition: all .3s ease-in-out;
        &:hover {
            color: $black;
            transform: scale(1.1);
        }
    }
    &--toggle {
        flex-shrink: 0;
        position: relative;
        text-decoration: underline;
        box-shadow: none;
        padding: 0 20px 0 0;
        height: 20px;
        overflow: hidden;
        text-align: right;
        font-size: 14px;
        line-height: 20px;
        color: $blue;
        text-transform: none;
        font-weight: 400;
        white-space: nowrap;
        &:hover {
            color: $darkblue;
        }
        i {
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
        }
        span {
            display: block;
            text-decoration: underline;
        }
        &.open {
            span {
                &:first-of-type {
                    margin-top: -20px;
                }
            }
        }
    }
    &--link {
        text-decoration: underline;
        box-shadow: none;
        padding: 0;
        font-size: 14px;
        line-height: 20px;
        color: $blue;
        text-transform: none;
        font-weight: 400;
        &:hover {
            color: $darkblue;
        }
    }
}
