.filter {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 0 -5px -10px;
    &--item {
        display: block;
        padding: 10px 15px 10px 10px;
        margin: 0 5px 10px;
        font-size: 14px;
        line-height: 20px;
        color: #fff;
        font-weight: 900;
        cursor: pointer;
        background: $base-blue;
        border-radius: 6px;
        transition: all .3s ease-in-out;
        &:hover {
            background: $base-darkblue;
            input {
                &:checked {
                    + span {
                        &:before {
                            color: $base-darkblue;
                        }
                    }
                }
            }
        }
        input {
            display: none;
            &:checked {
                + span {
                    &:before {
                        content: "\f00c";
                        background: #fff;
                    }
                }
            }
        }
        span {
            display: flex;
            align-items: center;
            &:before {
                @include fa();
                content: "";
                flex: 0 0 20px;
                width: 20px;
                height: 20px;
                margin-right: 10px;
                line-height: 16px;
                color: $base-blue;
                border: 2px solid #fff;
                text-align: center;
                border-radius: 5px;
                transition: all .3s ease-in-out;
            }
        }
    }
}
