$flexboxgrid-unit: 10 !default;
$flexboxgrid-grid-columns: 12 !default;
$flexboxgrid-gutter-width: 4px * $flexboxgrid-unit !default;
$flexboxgrid-outer-margin: 4px * $flexboxgrid-unit !default;
$flexboxgrid-breakpoints:
  sm 48em 46rem,
  md 62em 61rem,
  lg 75em 71rem !default;
$flexboxgrid-max-width: 1340px !default;



$gutter-compensation: $flexboxgrid-gutter-width * .5 * -1;
$half-gutter-width: $flexboxgrid-gutter-width * .5;

.wrapper {
  width: $flexboxgrid-max-width;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 10px;

  @include min-screen(768px) {
    padding: 0 20px;
  }

  // @include min-screen(992px) {
  //   padding: 0;
  // }

  &__small {
    width: 780px;
  }
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-right: $flexboxgrid-outer-margin;
  padding-left: $flexboxgrid-outer-margin;
}

.row {
  box-sizing: border-box;
  display: flex;
  flex: 1 1 auto;
  flex-wrap: wrap;
  margin-right: $gutter-compensation;
  margin-left: $gutter-compensation;
  margin-bottom: -$flexboxgrid-outer-margin;
}

.row.reverse {
  flex-direction: row-reverse;
}

.col.reverse {
  flex-direction: column-reverse;
}

.col-xs-bottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

@mixin flexboxgrid-sass-col-common {
  flex-grow: 0;
  flex-shrink: 0;
  padding-right: $half-gutter-width;
  padding-left: $half-gutter-width;
}

$name: xs;
.col-#{$name} {
  @include flexboxgrid-sass-col-common;
  flex-basis: auto;
  margin-bottom: $flexboxgrid-outer-margin;
}
@for $i from 1 through $flexboxgrid-grid-columns {
  .col-#{$name}-#{$i} {
    @include flexboxgrid-sass-col-common;
    flex-basis: calc(100% / $flexboxgrid-grid-columns) * $i;
    max-width: calc(100% / $flexboxgrid-grid-columns) * $i;
    margin-bottom: $flexboxgrid-outer-margin;
  }
}
@for $i from 0 through $flexboxgrid-grid-columns {
  .col-#{$name}-offset-#{$i} {
    @include flexboxgrid-sass-col-common;
    @if $i == 0 {
      margin-left: 0;
    } @else {
      margin-left: calc(100% / $flexboxgrid-grid-columns) * $i;
    }
    margin-bottom: $flexboxgrid-outer-margin;
  }
}
.col-#{$name} {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
}
.col-#{$name}-auto {
  @include flexboxgrid-sass-col-common;
  flex-basis: auto;
  max-width: 100%;
  margin-bottom: $flexboxgrid-outer-margin;
}
.start-#{$name} {
  justify-content: flex-start;
  text-align: left;
}

.center-#{$name} {
  justify-content: center;
  text-align: center;
}

.end-#{$name} {
  justify-content: flex-end;
  text-align: right;
}

.top-#{$name} {
  align-items: flex-start;
}

.middle-#{$name} {
  align-items: center;
}

.bottom-#{$name} {
  align-items: flex-end;
}

.around-#{$name} {
  justify-content: space-around;
}

.between-#{$name} {
  justify-content: space-between;
}

.first-#{$name} {
  order: -1;
}

.last-#{$name} {
  order: 1;
}


@each $breakpoint in $flexboxgrid-breakpoints {
  $name: nth($breakpoint, 1);
  $size: nth($breakpoint, 2);
  $container: nth($breakpoint, 3);
  @media only screen and (min-width: $size) {
    .container {
      width: $container;
    }

    .col-#{$name} {
      @include flexboxgrid-sass-col-common;
      flex-basis: auto;
    }
    .col-#{$name}-auto {
      @include flexboxgrid-sass-col-common;
      flex-basis: auto;
      max-width: 100%;
      margin-bottom: $flexboxgrid-outer-margin;
    }
    @for $i from 1 through $flexboxgrid-grid-columns {
      .col-#{$name}-#{$i} {
        @include flexboxgrid-sass-col-common;
        flex-basis: calc(100% / $flexboxgrid-grid-columns) * $i;
        max-width: calc(100% / $flexboxgrid-grid-columns) * $i;
      }
    }
    @for $i from 0 through $flexboxgrid-grid-columns {
      .col-#{$name}-offset-#{$i} {
        @include flexboxgrid-sass-col-common;
        @if $i == 0 {
          margin-left: 0;
        } @else {
          margin-left: calc(100% / $flexboxgrid-grid-columns) * $i;
        }
      }
    }
    .col-#{$name} {
      flex-grow: 1;
      flex-basis: 0;
      max-width: 100%;
    }
    .start-#{$name} {
      justify-content: flex-start;
      text-align: left;
    }

    .center-#{$name} {
      justify-content: center;
      text-align: center;
    }

    .end-#{$name} {
      justify-content: flex-end;
      text-align: right;
    }

    .top-#{$name} {
      align-items: flex-start;
    }

    .middle-#{$name} {
      align-items: center;
    }

    .bottom-#{$name} {
      align-items: flex-end;
    }

    .around-#{$name} {
      justify-content: space-around;
    }

    .between-#{$name} {
      justify-content: space-between;
    }

    .first-#{$name} {
      order: -1;
    }

    .last-#{$name} {
      order: 1;
    }
  }
}
