.user-data {
    padding: 20px;
    text-align: center;
    line-height: 25px;
    @include gradient-gray(right);
    h2 {
        margin-bottom: 40px;
    }
    h4 {
        @include h4();
        margin-bottom: 10px;
    }
    &--link {
        color: $black;
        i {
            display: block;
            height: 50px;
            font-size: 50px;
            line-height: 50px;
            margin: 0 auto 20px;
            transition: all .3s ease-in-out;
        }
    }
    a.user-data--link {
        &:hover {
            i {
                transform: scale(1.1)
            }
            h4 {
                text-decoration: underline;
            }
        }
    }
    @include min-screen(768px) {
        padding: 40px 20px;
    }
    @include min-screen(1224px) {
        padding: 40px 50px;
    }
}
