.form {
    text-align: left;
    &--wrapper {
      margin: 0 0 20px;
    }
    &--row {
        margin: 0 0 20px;
        &:last-child {
            margin-bottom: 0;
        }
        + .form--header {
            margin-top: 40px;
        }
    }
    &--header {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        &--title {
            flex: 1;
            font-size: 24px;
            font-weight: 900;
        }
        &--actions {
            margin-left: auto;
            display: flex;
            align-items: center;
           a {
               text-decoration: underline;
               + a {
                   margin-left: 10px;
               }
           }
        }
        &:not(:last-child) {
            margin-bottom: 20px;
        }
        @include min-screen(767px) {
            flex-wrap: nowrap;
        }
    }
    &--column {
        &:not(:last-child) {
            margin-right: 40px;
        }
    }
    &--section {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        &__center {
            justify-content: center;
        }
    }
    &--label {
        display: block;
        margin-bottom: 10px;
    }
    &--radiolabel {
      cursor: pointer;
    }
    &--radio {
      cursor: pointer;
    }
    &--field {
        display: flex;
        align-items: center;
    }
    &--input {
        position: relative;
        flex: 1 1 auto;
        max-width: 100%;
        min-width: 1px;
        &.large {
            .button {
                width: 50px;
                height: 50px;
                padding: 15px 0;
                + .input {
                    input {
                        padding-right: 75px;
                    }
                }
            }
        }
        .button {
            position: absolute;
            top: 5px;
            right: 5px;
            width: 40px;
            height: 40px;
            padding: 10px 0;
            + .input {
                input {
                    padding-right: 55px;
                }
            }
        }
        .field {
            flex: 1 1 auto;
        }
        + .form--input {
            margin-left: 20px;
        }
        + .button--toggle {
            margin-left: 20px;
            @include min-screen(481px) {
                margin-left: 40px;
            }
        }
    }
    &--actions {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin: 20px -10px -10px 0;
        .button {
            margin: 0 10px 10px 0;
        }
        @include min-screen(768px) {
            margin-top: 40px;
        }
    }
    &--suffix {
        display: block;
        position: absolute;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 18px;
        line-height: 20px;
        color: $black;
        font-weight: 900;
        pointer-events: none;
        user-select: none;
        + input {
            padding-right: 28px;
        }
    }
    &--sep {
        display: block;
        flex-shrink: 0;
        width: 15px;
        height: 20px;
        text-align: center;
        font-size: 14px;
        line-height: 20px;
        color: $black;
    }
    &--search {
        .search-field {
            display: flex;
            justify-content: center;
            .form--input {
                width: 420px;
                max-width: 100%;
            }
        }
    }
    &--filters {
        margin: 20px 0;
        display: none;
        .form--label {
            font-size: 14px;
        }
        &.open {
            display: block;
        }
        .row {
            margin-bottom: -20px;
        }
        [class*="col-"] {
            margin-bottom: 20px;
        }
        .form--actions {
            margin: 0;
            button {
                margin-bottom: 0;
            }
        }
        &-toggle {
            display: flex;
            justify-content: center;
        }
    }
    &--error {
        margin-top: 10px;
        color: $orange;
    }
    &__center {
        margin: 0 auto;
    }
    &__md {
        max-width: 520px;
    }
    &__sm {
        max-width: 340px;
    }
    &__styled {
        background: #fff;
        box-shadow: 0 0 20px rgba(0,0,0,0.1);
        padding: 20px;
        @include min-screen(992px) {
            padding: 40px;
        }
    }
    &__inline {
        display: flex;
        flex-wrap: wrap;
        .form--row {
            flex: 1 0 100%;
        }
        .form--actions {
            margin-top: 0;
        }
        @include min-screen(767px) {
            flex-wrap: nowrap;
            .form--row {
                flex: 1;
                margin-right: 20px;
            }
        }
    }
    &--break {
        display: block;
        height: 1px;
        margin: 20px -20px;
        background-color: $grey3;
        @include min-screen(992px) {
            margin: 40px -40px;
        }
    }
}

