// General
@import "general/variables";
@import "general/mixins";
@import "general/reset";
@import "general/general";
@import "general/page";

// Form
@import "form/form";
@import "form/checkbox";
@import "form/fileUpload";
@import "form/input";
@import "form/radio";
@import "form/select";
@import "form/tooltip";
@import "form/textarea";
@import "form/datepicker";

// Components
@import "components/button";
@import "components/grid";
@import "components/paper";
@import "components/message";
@import "components/pagination";
@import "components/table";
@import "components/tabs";
@import "components/quicklinks";
@import "components/user-data";
@import "components/steps";
@import "components/payment-methods";
@import "components/filter";
@import "components/dialog";
@import "components/label";

// Layout
@import "layout/header";
@import "layout/hero";
@import "layout/footer";

// Menu
@import "menu/language";
@import "menu/main";
@import "menu/mobile";
@import "menu/portal";
@import "menu/user";
@import "menu/social";
@import "menu/footer";
@import "menu/simple";

// Views
@import "views/dashboard";
@import "views/credit";
@import "views/domains";
@import "views/account";

// Font-awesome
$fa-font-path: "font-awesome/webfonts";
@import "@fortawesome/fontawesome-free/scss/fontawesome";
@import "@fortawesome/fontawesome-free/scss/regular";
@import "@fortawesome/fontawesome-free/scss/solid";
@import "@fortawesome/fontawesome-free/scss/brands";

// Choices
@import "choices.js/public/assets/styles/choices.min";

// Flatpickr
@import "flatpickr/dist/flatpickr.min";
@import "flatpickr/dist/themes/airbnb";

// Tooltip
@import "tippy.js/dist/tippy";

@import "config/animations";

/* To make working required attribute */
.choices[data-type*="select-one"] select.choices__input, .not_visible {
  display: block !important;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  left: 0;
  bottom: 0;
}
div.choices__list--dropdown  {
  z-index: 100;
}

@media (min-width: 640px) {
  .choices__list--dropdown .choices__item--selectable, .choices__list[aria-expanded] .choices__item--selectable {
      padding-right: 50px;
  }
}

















